.discount{
  padding: 50px 0;
  @extend %bg-cover;
  background-image: url('../images/dest/discountBlock/discount-bg.jpg');
  &__container{
    display: flex;
    align-items: center;
    .link{
      width: 100%;
    }
  }
  &__box{
    margin-right: 120px;
  }
  &__text{
    color: $white;
    font: 500 30px / 40px $font-open;
    &--accent{
      color: $white;
      font: 800 35px / 48px $font-open;
    }
  }

}