.indicators{
  background: linear-gradient(180deg, #6CABEB 0%, #2C5983 100%);

  &__container{
    display: flex;
    padding-top: 58px;
  }
  &-content{
    padding: 0px 15px 40px;
    margin-right: 9%;
  }
  &-decor{
    margin-top: auto;
    max-width: 280px;
    width: 100%;
  }
  &__inner{
    max-width: 720px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 20px 6px 35px 6px;
    margin-bottom: 20px;
  }
  &__text{
    font: 400 16px/24px $font-open;
    max-width: 740px;
    color: $white;
  }
}
.indicators-stick{
  flex-shrink: 0;
  width: 207px;
  align-items: center;
  justify-items: center;
  margin-right: 25px;
  &__img,&__text{
    grid-area: 1/2;
  }
  &__text{
    max-width: 120px;
    color: $white;
    font: 600 13px / 18px $font-open;
    transform: translate(3px, 10px);
    &--accent{
      font:800 24px/30px $font-open;
      margin-bottom: 5px;
    }
  }
}
.indicators-items{
  max-width: 400px;
  width: 100%;
  &__item{
    width: 100%;
    &-title{
      margin-bottom: 5px;
      font: 800 16px / 24px $font-open;
      color: #202020;
      max-width: 300px;
    }
    &-box{
      
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 20px;
      height: 26px;
      padding-right: 25px;
    }
    &-line{
      height: 100%;
      border-radius: 20px;
      margin-right: 2%;
    }
    &-percent{
      font: 800 18px / 24px $font-open;
      color: $white;
      margin-left: auto;
    }
    &:nth-child(1){
      .indicators-items__item-box{
        background-color: #EC797C;
      }
      .indicators-items__item-line{
        width: 90%;
        background-color: #dc4453;
      }
      
    }
    &:nth-child(2){
      margin-bottom: 30px;
      .indicators-items__item-box{
         background-color: #7FCAB5;
      }
      .indicators-items__item-line{
        width: 85%;
        background-color: #2ebb9b;
      }
     
    }
    &:nth-child(3){
      .indicators-items__item-box{
        background-color: #4ac4ed;
      }
      .indicators-items__item-line{
        width: 6%;
        background-color: #27a1cb;
      }
    }
  }
}
@media (max-width: 1150px) {
  .indicators__container {
    flex-wrap: wrap;
    justify-content: center;
}
.indicators-content {
  flex-grow: 1;
  margin-right: 0;
  order:1;
}
.indicators__inner {
  margin-left: auto;
  margin-right: auto;
}
.indicators__text {
  max-width: 100%;
}
}
@media (max-width: 750px) {
  .indicators-stick {
    width: 136px;

}
.indicators-stick__text--accent {
  font: 800 20px/20px "Open Sans";
}
.indicators-stick__text {
  max-width: 80px;
  font: 600 11px/13px "Open Sans";
}
.indicators__inner {
  padding: 20px 25px 35px 6px;
}
}
@media (max-width: 700px) {
  .indicators-content {
    padding: 0 0px 40px;
}
.indicators__inner {
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px;
}
}
@media (max-width: 480px) {
  .indicators-items__item-box {
    padding-right: 10px;
}
.indicators__inner {
  padding: 20px 6px 35px 6px;
}
}
@media (max-width: 390px) {
  .indicators-items__item-title {
    font: 800 14px/19px "Open Sans";
}
}
@media (max-width: 320px) {
  .indicators__container {
    padding: 0;
}
  .indicators-stick {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.indicators__inner {
 flex-wrap: wrap;
 padding: 20px 0px 35px 0px;
 margin-left: 0;
 margin-right: 0;
}
.indicators-items__item-title {
  margin-left: 10px;
}
.indicators__text {
  padding-left: 5px;
  padding-right: 5px;
}
}